@import url('https://fonts.googleapis.com/css?family=Roboto');
.bootcamp{
    font-family: 'Roboto', sans-serif !important;

}

.camp_present{
    background-color: #232c3b;
    height:400px;
    padding-top: 120px;
    text-align: center;

}
.camp_present h2{
    color:white;
    font-size: 20px;
    margin-bottom: 0;

}
.camp_present p{
    color:#B0B6BE;
    font-size: 15px;
    margin-top: 3px;

}
.camp_present img{
    width:350px;
    margin: 0 auto;
}
.flexbox{
    display: flex;
    flex-wrap: wrap;
    width:80%;
    margin: 0 auto;
    height:500px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
.flexbox h2{
    font-size: 25px;
}
.flexbox p{
    font-size: 18px;
    line-height: 120%;

}
.box{
    width:400px;
    flex-grow: 1;
}
.box img{
    width:90%;
   margin-left: 5%;
}
@media(max-width: 440px){
    .camp_present img{
        width:250px;
    }

}