.camp_present{
    background-color: #232c3b;
    height:400px;
    padding-top: 120px;
    text-align: center;
}
.camp_present h2{
    color:white;
    font-size: 20px;
    margin-bottom: 0;
}
.camp_present p{
    color:#B0B6BE;
    font-size: 15px;
    margin-top: 3px;
}
.camp_present img{
    width:250px;
    margin: 0 auto;
}
.flexbox{
    display: flex;
    flex-wrap: wrap;
    width:80%;
    margin: 0 auto;
    height:500px;
    align-items: center;

}
.box{
    width:400px;
    flex-grow: 1;
}
.box img{
    width:90%;
   margin-left: 5%;
}