.pay{

}
.inp_cupon{
    display: inline-flex;
    width: 70%;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.inp_pay{

    display: inline-flex;
    width: 100%;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.inp_tarjeta{
    display: inline-flex;
    width: 90%;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.pay{
    background-color: #f4f5f9;
    width:100%;
    height:auto;
    padding-top: 100px;
    padding-bottom: 50px;
}
.btn_cupon{
    width:20%;
    margin-left: 5%;
    background-color: rgb(40, 160, 228);
    color:white;
    height:34px;
    border-radius: 3px;
    border:none;
}
.formgroup_cupon{
    display: flex;
    flex-wrap: wrap;
    color: #555;
    width:80%;
    margin-left: 10%;
    margin-top: 15px;
}
.formgroup_cupon p{
    margin:0;
    margin-bottom: 10px;
}
.nombre_input{

    font-size: 15px;
    text-align: left ;
    margin: 0;
    padding: 0;
    margin-left: 10%;
}
.box_tarjeta{
    width:;
}
.select{
    border:none;
    width:100%;
    background-color: white;
}
.check{
    width:inherit !important;

}